@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}

@mixin marginTandB($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.LoginInput {
  @include flexCenter(column);
  @include marginTandB(40px, 130px);
  width: 350px;
  margin: 70px;

  #userId,
  #userPassword {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 7px;
    border: 2px solid #dddddd;
    outline: none;
    background-color: #f7f7f7;
    font-weight: bold;
  }

  .loginButton {
    margin-top: 20px;
    padding: 15px;
    color: white;
    background-color: #61aded;
    border-radius: 7px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }
}
