@import '../../../../styles/variables';

.Login {
  div.applink {
    margin-top: 10p;
    padding-top: 10px;
    height: 105px;
    width: 100%;

    .app__mention {
      margin-bottom: 20px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
    }

    .link__btns {
      text-align: center;
    }

    .link__btn {
      display: inline-block;
      height: 40px;
      width: 134px;
      border-radius: 5px;
      background-color: #000;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      a {
        display: inline-block;
        height: 100%;
        width: 100%;
        font-size: 0;
      }
    }

    .appstore__btn {
      background-image: $appstore-logo;
      margin-right: 4px;
    }

    .googleplay__btn {
      background-image: $playstore-logo;
    }
  }
}
