@import '../../../../styles/variables';

.Login {
  .facebook__login {
    margin-top: 32px;
    font-size: 14px;
    font-weight: 600;

    a {
      color: $text-emphasize;
    }

    span {
      display: inline-block;
      position: relative;
      margin-right: 10px;
      top: 3px;
      height: 15px;
      width: 15px;
      background-image: $facebook-logo;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  p.forget {
    margin: 21px 0;
    font-size: 12px;

    a {
      color: $text-emphasize;
    }
  }
}
