@import '../../../../styles/variables';

.LoginForm {
  .btnLogin {
    display: block;
    margin-top: 15px;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 3px;
    color: $white-color;
    background-color: $btn-active;
    cursor: pointer;
  }
}
