.DetailTitle {
  h1 {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
  }

  .linktap {
    margin-bottom: 20px;
    text-align: right;

    a {
      color: #9f9e9a;
      text-decoration: none;
      font-size: 15px;
    }
  }
}
