.DetailTitle {
  h1 {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
  }

  .linktap {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;

    a {
      color: #9f9e9a;
      font-size: 15px;
    }
  }
}
