@import '../../../../styles/variables';
@import '../../../../styles/mixin';

@include desktop {
  .content {
    margin: 0 auto;
    padding-bottom: 90px;
    width: 1100px;
    background: transparent;
  }

  div.product_result_wrap {
    position: relative;
  }

  div.product_view_tab_wrap {
    position: relative;
    width: 1100px;
  }

  div.product_list > dl > dd {
    margin-bottom: 40px;

    ul {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      top: -10px;
      left: -10px;
      width: 1120px;
    }
  }
}

@include desktopToDesktopLarge {
  .content {
    width: 96%;
  }

  div.product_view_tab_wrap {
    width: 100%;
  }

  div.product_list > dl > dd > ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
}

@include mobileToDesktop {
  .content {
    width: 96%;
    margin: 0 auto;
  }

  div.product_view_tab_wrap {
    width: 100%;
  }

  div.product_list > dl > dd {
    margin-bottom: 40px;
    width: 100%;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto;
      width: 100%;
    }
  }
}

@include tabletToDesktop {
  div.product_list > dl > dd > ul > li {
    margin: 0.66%;
    width: 32%;
    overflow: hidden;
  }
}
