.infoContainer {
  $heartAndNavColor: #999696;
  width: 575px;

  .infoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: solid 2px black;

    .infoTitle {
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 24px;
    }

    .heartIcon {
      color: lightgray;
      font-size: 25px;
    }

    .iconColorRed {
      color: red;
      font-size: 25px;
    }
  }

  .coffeeDescriptionBox {
    margin-bottom: 30px;

    .coffeeDescription {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .nutritionTitleBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 0 20px 0;
    border {
      top: solid 2px lightgrey;
      bottom: solid 2px lightgrey;
    }

    .nutritionTitle {
      margin-left: 20px;
      font-size: 22px;
      font-weight: 400;
    }

    .nutiritionServingSize {
      margin-right: 20px;
      font-size: 22px;
    }
  }

  .nutritionContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;

    .nutritionLeft {
      padding-right: 30px;
      border-right: dashed 1px lightgrey;

      .nutritionItembox {
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin-bottom: 20px;
      }
    }
    .nutritionRight {
      .nutritionItembox {
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin-bottom: 20px;
      }
    }
  }

  .allergyCause {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 3px;
    background-color: #efefef;

    p {
      margin-left: 15px;
      font-weight: 700;
    }
  }

  .emptyAllergyCause {
    height: 90px;
  }
}
