@import '../common.scss';

.DeInfo {
  width: 500px;
  margin-left: 50px;

  .contentWrap1 {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
  }

  .productName {
    margin: 5px 0 0 0;
    font-size: 25px;
    margin: 5px 0;
  }

  .likeOn {
    position: absolute;
    right: 0px;
    top: 15px;
    font-size: 20px;
    color: red;
    transition: all 0.5s linear;
    &:hover {
      animation: likeOnRotate 1s 1;
      transform-origin: 50% 50%;
    }
  }

  .likeOff {
    @extend .likeOn;
    color: grey;
  }

  @keyframes likeOnRotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .description {
    display: inline-block;
    margin: 20px 5px;
    line-height: 20px;
  }

  .contentWrap2 {
    @include flex(row);
    justify-content: space-between;
    border-top: 2px solid lightgrey;
    padding: 20px 5px;
    border-bottom: 2px solid lightgrey;
  }

  .tableTitle {
    font-size: 20px;
  }

  .contentWrap3 {
    @include flex(row);
    justify-content: space-evenly;
    margin: 20px 5px;
  }

  .col1 {
    position: relative;
    width: 240px;
    * {
      margin-bottom: 10px;
      padding: 0 3px;
    }
  }

  .col2 {
    position: relative;
    width: 240px;
    border-left: 2px solid lightgrey;
    padding-left: 5px;
    * {
      margin-bottom: 10px;
      padding: 0 3px;
    }
  }

  .numbers {
    position: absolute;
    display: inline-block;
    right: 1px;
  }
}
