@import '../mixin.scss';

.Detail {
  .body {
    @include flex(column);
    align-items: center;
    margin-bottom: 20px;

    .bodyWrap {
      @include flex(row);
      justify-content: center;
      max-width: 1000;
    }

    .productInfo {
      @include flex(column);
      align-items: center;
    }
  }
}
