// VARIABLES in LOGIN

$font-family: 'Style Script', cursive;

$body-bg: #fafafa;
$place-holder: #8e8e8e;
$input-border: 1px solid #dbdbdb;
$input-border-focus: 1px solid #8e8e8e;
$input-bg-focus: #e8f0fe;
$valid-border: 1px solid green;
$valid-bg-focus: #e8fef1;
$text-emphasize: #00376b;

$hr-line: #8e8e8e;
$white-color: #ffffff;
$btn-active: #1997f3;
$btn-inactive: #b9dffc;
$sign-up-link: #0095f6;

$facebook-logo: url(https://i.imgur.com/UW3kpF4.jpg);
$appstore-logo: url(https://i.imgur.com/37rg7ZF.png);
$playstore-logo: url(https://i.imgur.com/Ba1YeT5.png);
