// Variables in header
$heartAndNavColor: #999696;
$headerColor: #f6f5ef;

// Variables in Login
$inputBorderColor: #dedede;
$loginBoxColor: #ffffff;
$loginBgColor: #fafafa;
$deactivatedLoginBtnColor: #add3ed;
$activatedLoginBtnColor: #58b2eb;
