.loginBtnDeactivate {
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #add3eb;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }

  .loginBtn {
    color: white;
    font-size: 20;
    font-weight: 700;
  }
}

.loginBtnActivate {
  $loginBtnActivate: #58b2eb;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: $loginBtnActivate;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }

  .loginBtn {
    color: white;
    font-size: 20;
    font-weight: 700;
    text-decoration: none;
  }
}
