* {
  box-sizing: border-box;
  color: #454545;
}

body {
  margin: 0px;
}

.navbar {
  width: 1100px;
  height: 60px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: rgb(241, 238, 238);

  #logo {
    line-height: 50px;
    vertical-align: middle;
    height: 35px;
  }

  img {
    vertical-align: middle;
    height: 35px;
  }

  #nav_menu {
    float: right;
    list-style: none;
    margin: 0;
  }

  li {
    float: left;
    margin-left: 40px;
    line-height: 60px;
  }

  a {
    color: #454545;
    font-size: 15px;
    text-decoration: none;
  }
}

.menubar {
  width: 1100px;
  height: 60px;
  margin: 30px auto;

  h1 {
    font-size: 25px;
    font-weight: bold;
  }

  p {
    text-align: right;
    font-size: 13px;
    color: rgb(139, 136, 136);
  }
}

.menu {
  width: 1100px;
  height: 680px;
  margin: 0 auto;
  padding-top: 20px;

  .mainPic {
    margin-right: 50px;
    width: 450px;
  }

  .Detail {
    float: right;
    clear: left;
    width: 600px;
  }

  .Title {
    height: 70px;
    border-bottom: 2px solid #454545;
  }

  .nameKo {
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
    color: #454545;
  }

  .nameEn {
    margin-top: 10px;
    font-size: 14px;
  }

  button {
    float: right;
    background: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 30px;
      margin-top: 10px;
      margin-right: 5px;
    }
  }

  .Text {
    margin-top: 20px;
    height: 70px;
    border-bottom: 1px solid lightgray;
  }

  .Text p {
    color: #454545;
    font-size: 15px;
    line-height: 25px;
  }

  .Info {
    height: 60px;
    padding: 20px 10px;
    margin-top: 4px;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
  }

  .InfoDetail {
    float: right;
  }

  .Ingre {
    height: 130px;
  }

  ul {
    float: left;
    margin-top: 13px;
    padding: 8px;
    list-style-type: none;
    line-height: 30px;
    font-size: 13px;
  }

  .detailL {
    width: 200px;
  }

  .detailR {
    width: 100px;
    text-align: right;
  }

  #line {
    border-right: 1px dashed lightgray;
  }

  .Allergy {
    height: 50px;
    border-radius: 5px;
    background-color: rgb(243, 241, 241);
  }

  .Allergy p {
    padding-left: 10px;
    font-size: 14px;
    line-height: 50px;
  }

  .review {
    height: 120px;
    margin-top: 30px;
    font-size: 14px;

    .reviewTitle {
      border-bottom: 1px solid lightgray;
      padding-bottom: 8px;
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 18px;
    }

    .reviewId {
      margin-right: 10px;
      font-weight: bold;
    }

    div {
      padding: 5px;
    }
  }
  .reviewEnter {
    height: 40px;
    width: 90%;
    padding-left: 10px;
    border: 1px solid rgb(218, 215, 215);
    border-radius: 3px;
  }

  .reviewAddBtn {
    height: 40px;
    width: 52px;
    background-color: rgb(243, 241, 241);
    border: 1px solid rgb(218, 215, 215);
    border-radius: 3px;
    color: #454545;
  }
}

footer {
  background-color: #454545;

  .footer_in {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    padding: 0;

    ul {
      float: left;
      margin-left: 50px;
      margin-right: 40px;
      list-style-type: none;
      font-weight: bold;
      font-size: 13px;
      line-height: 25px;
    }

    li {
      color: white;
    }

    .f_title {
      padding-top: 20px;
      padding-bottom: 6px;
      color: white;
    }
  }
}
