@import '../common.scss';

.productImg {
  margin-right: 0px;
  width: 240px;
  height: 240px;
  overflow: hidden;

  .boxElements {
    display: block;
    transition-property: all;
    transition-duration: 1s;
    width: 240px;
    height: 240px;
    margin: 0;
    padding: 0;
    border: 0;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}
