/* REVIEW */

section.review_wrap {
  margin-top: 30px;
  float: right;
  width: 610px;
}

section.review_wrap > dl > dt.review_tit {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d6d6d6;
}

section.review_wrap > dl > dt.review_tit h4 {
  font-size: 18px;
  font-weight: bold;
}

section.review_wrap > dl > dd.review_container {
  position: relative;
  margin: 20px 0 10px 0;
  height: 80px;
}

section.review_wrap > dl > dd.review_container ul {
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  bottom: 0;
  width: 100%;
}

#review_field {
  height: 34px;
  width: 100%;
  border: none;
  background-color: #efefef;
  padding-left: 10px;
}

#review_field:focus {
  outline: none;
}

/* Review Validation */

#validTag {
  position: absolute;
  bottom: 35px;
  text-align: center;
  line-height: 24px;
  color: #ffffff;
  width: 180px;
  height: 26px;
  background-color: #333;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  /* transition: opacity 2s; */
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

/* INTERACTION */

.visible {
  display: block;
}

/* ANIMATIONS */

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes notValid {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
