/* PICTURE */

.product_view_pic {
  width: 450px;
  float: left;
  overflow: hidden;
}

.product_big_pic {
  width: 100%;
}

.product_big_pic .zoomFrame > img {
  height: auto;
  width: 100%;
}

/* PICTURE end */

/* ZOOM animation */

.zoomFrame {
  position: relative;
  height: 470px;
}

.zoomLens {
  display: none;
  background-position: 0px 0px;
  float: right;
  overflow: hidden;
  z-index: 9;
  transform: translateZ(0px);
  opacity: 0.4;
  zoom: 1;
  width: 305px;
  height: 234px;
  background-color: white;
  cursor: default;
  border: 1px solid rgb(0, 0, 0);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.zoomWindowContainer {
  width: 610px;
}

.zoomWindow {
  display: none;
  overflow: hidden;
  background-position: 0 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 610px;
  height: 468px;
  float: left;
  background-size: 900px 940px;
  z-index: 100;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url(https://image.istarbucks.co.kr/upload/store/skuimg/2020/09/[9200000002672]_20200921171223958.jpg);
  top: 31px;
  left: 488px;
}

/* ZOOM animation end */

.myAssignZone {
  position: relative;
}
