/* LIKE */

div.like__btn {
  position: absolute;
  top: 0;
  right: 0;
}

/* MICRO INTERACTION (HEART) */

#like {
  opacity: 0;
  z-index: 5;
}

.btn-love {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.btn-love:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: url(https://abs.twimg.com/a/1446862637/img/t1/web_heart_animation.png)
    0 0 no-repeat;
  background-size: 2900%;
  height: 100px;
  width: 100px;
}

#like:checked + .btn-love:after {
  animation: heart-burst steps(28) 0.8s 1 both;
}

/* PRODUCT DESCRIPTION */

div.product_view_detail {
  position: relative;
  width: 610px;
  float: right;
}

div.product_view_detail h4 {
  margin-bottom: 20px;
  padding-bottom: 18px;
  border-bottom: 2px solid #333;
  font-weight: bold;
  font-size: 24px;
  color: #222;
}

div.product_view_detail h4 span {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #666;
}

div.product_view_detail p.t1 {
  font-size: 16px;
  color: #444;
  margin-bottom: 20px;
  line-height: 1.6;
  min-height: 40px;
}

.hid {
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
  text-indent: -9999px;
  overflow: hidden;
}

.product_info_head {
  position: relative;
  height: 59px;
  line-height: 59px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.product_info_head p.tit {
  padding-left: 10px;
  font-size: 18px;
  color: #222;
}

.product_view_detail .product_select_wrap2 {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 6px;
}

.product_view_detail .product_select_wrap2 > div {
  float: left;
}

.selectTxt2 {
  margin-right: 6px;
  margin-top: -5px;
}

/* NUTRITION FACT */

div.product_info_content {
  margin: 20px 0;
  width: 100%;
}

div.product_info_content ul {
  width: 50%;
  float: left;
}

div.product_info_content ul:last-child {
  width: 50%;
  float: right;
  border-left: 1px dotted #d6d6d6;
}

div.product_info_content ul li {
  padding: 0 10px;
  line-height: 2.5;
}

div.product_info_content ul li dl {
  width: 100%;
  font-size: 14px;
  color: #444;
}

div.product_info_content dl dt {
  float: left;
  width: 85%;
}

div.product_info_content dl dd {
  float: right;
  width: 15%;
  text-align: right;
}

div.product_alergy {
  position: relative;
}

div.product_alergy p.alergy_warn {
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  background-color: #efefef;
}
