@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* GLOBAL */

body.Detail_body {
  padding-top: 120px;
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;

  .wrap {
    height: 100vh;
    position: relative;
  }

  /* SUB TITLE */

  #container {
    width: 100%;
    min-height: 880px;
  }

  div.sub_tit_wrap {
    height: 98px;
    width: 100%;
    background-color: #ffffff;
  }

  div.sub_tit_inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    height: 91px;
    width: 1100px;
  }

  div.sub_tit_inner h2 {
    position: relative;
    padding-top: 30px;
  }

  /* SUB TITLE end */

  /* CONTENTS */

  .content {
    margin: 0 auto;
    padding-bottom: 120px;
    width: 1100px;
    background: transparent;
  }

  div.product_view_wrap1 {
    position: relative;
    padding-top: 30px;
  }
}
