@mixin vendorPrefix($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: scale($value);
  }
}

@mixin transition($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

li {
  padding-bottom: 30px;
  text-align: center;

  .coffeename {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }

  .fixImg {
    margin-bottom: 20px;
    width: 40vh;
    height: 50vh;
    overflow: hidden;

    .coffeeImg {
      width: 40vh;
      height: 50vh;
      @include vendorPrefix(transform, 1);
      @include transition(transition, 0.3s);

      &:hover {
        @include vendorPrefix(transform, 1.1);
      }
    }
  }
}
