@import '../../components/mixin.scss';

.CoffeeCard {
  padding-bottom: 30px;
  text-align: center;
  margin: 0 5px 0 7px;

  .coffeeName {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }

  .fixImg {
    margin-bottom: 20px;
    width: 240px;
    height: 250px;
    overflow: hidden;

    .coffeeImg {
      width: 240px;
      height: 250px;
      @include vendorPrefix(transform, 1);
      @include transition(transition, 0.3s);

      &:hover {
        @include vendorPrefix(transform, 1.1);
      }
    }
  }
}
