@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

.Detail {
  main {
    width: 80%;
    margin: auto;

    section {
      h1 {
        padding: 15px;
        font-size: 30px;
        font-weight: bold;
      }

      .linktap {
        text-align: right;
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: #9f9e9a;
          font-size: 15px;
        }
      }
    }

    article {
      @include flex-between();

      .coffeeImg {
        width: 45%;
        height: 45%;
        display: flex;
      }

      .mainContainer {
        display: flex;
        flex-direction: column;
        width: 50%;
        font-weight: bold;

        .menuNameBox {
          border-bottom: 3px solid black;
          position: relative;
          padding: 0 0 20px 0;

          .korean {
            font-size: 25px;
            text-align: left;
          }

          .english {
            font-size: 15px;
            text-align: left;
            padding-top: 10px;
          }

          .likeHeart {
            position: absolute;
            right: 0;
            bottom: 30px;
            color: #d3d3d3;
          }
          .fillHeart {
            position: absolute;
            right: 0;
            bottom: 30px;
            color: red;
          }
        }

        .explainCoffee {
          padding: 20px 0;
        }

        .nutritionBox {
          border-top: 2px solid #d3d3d3;
          border-bottom: 2px solid #d3d3d3;
          padding: 30px 0;
          display: flex;
          justify-content: space-between;
          font-size: 20px;
        }

        table {
          .rightalign {
            text-align: right;
          }

          td {
            padding: 10px;
          }
        }

        .allergyBox {
          margin-top: 30px;
          padding: 15px 0;
          padding-left: 10px;
          background-color: #efefef;
          border-radius: 5px;
        }

        .review {
          border-bottom: 2px solid #d3d3d3;
          padding-bottom: 10px;
          margin: 40px 0 15px 0;
          font-size: 20px;
        }

        .userReview1,
        .userReview2,
        .userReview3 {
          margin-bottom: 10px;
        }

        input {
          margin-top: 20px;
          background-color: #efefef;
          padding-left: 10px;
          width: 100%;
          padding: 10px;
          border-style: none;
          outline: none;
        }
      }
    }
  }

  footer {
    margin-top: 70px;

    background-color: #333333;
    color: #a8a8a8;

    .footer-box {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      font-weight: bold;
      color: white;
      padding-top: 50px;

      ul {
        list-style: none;

        .title {
          padding-bottom: 15px;
        }

        li {
          padding: 5px;
        }
      }
    }
  }
}
