@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

.Detail {
  main {
    width: 80%;
    margin: auto;

    article {
      @include flex-between();

      .coffeeImg {
        width: 45%;
        height: 45%;
        display: flex;
      }

      .mainContainer {
        display: flex;
        flex-direction: column;
        width: 50%;
        font-weight: bold;
      }
    }
  }
}
