@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import '../../../styles/common.scss';
@import '../../../styles/variables';
@import '../../../styles/mixin';

@include desktop {
  #container {
    padding-top: 120px;
    width: 100%;
    background-color: #ffffff;
  }

  div.subTitWrap {
    height: 98px;
    width: 100%;
    background-color: #ffffff;
  }

  div.subTitInner {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 91px;
    padding-top: 30px;
  }

  div.subTitInner h2 {
    position: relative;
    height: 79px;
  }
}

@include desktopToDesktopLarge {
  .subTitWrap div.subTitInner {
    width: 96%;
    margin: 0 auto;
    padding-top: 0;
  }

  .subTitWrap div.subTitInner h2 {
    padding-top: 20px;
  }
}

@include mobileToDesktop {
  body {
    padding-top: 60px;
  }

  .subTitInner {
    width: 96%;
    margin: 0 auto;
    padding-top: 0;
    height: 91px;
  }

  .subTitInner h2 {
    padding-top: 30px;
  }
}
