.subHeaderItems {
  $heartAndNavColor: #999696;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;

  li {
    a {
      margin-left: 3px;
      color: $heartAndNavColor;
      &:visited {
        color: $heartAndNavColor;
      }
      &:hover {
        color: $heartAndNavColor;
      }
    }

    .chevronRight {
      margin-left: 3px;
      color: $heartAndNavColor;
    }
  }
}
