li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  .contentBox {
    p {
      margin-left: 10px;
    }
  }
  .btnBox {
    button {
      margin-right: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      .trashIcon,
      .heartIcon {
        font-size: 15px;
      }
    }
  }
}
