@import '../../../styles/variable';

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 30px;
  background-color: $headerColor;

  img {
    width: 80px;
    margin-left: 20px;
  }

  .nav-menu {
    ul {
      display: flex;
      justify-content: space-between;
      color: $heartAndNavColor;
      font-size: 12px;
      list-style: none;

      li {
        margin-right: 30px;
      }
    }
  }
}
