@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

header {
  nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #f6f5f0;

    .logo {
      font-family: 'Dancing Script', cursive;
      font-size: 40px;
      margin: 10px 20px;
    }

    ul {
      list-style: none;
      display: flex;
      color: #9f9e9a;
      font-weight: bold;

      li {
        margin: auto;
        padding-left: 40px;

        .navLink {
          padding: 20px;
          text-decoration: none;
          color: #b9b9b5;
        }
      }
    }
  }
}
