@import '../mixin.scss';

.PwInput {
  .boxstyle {
    width: 330px;
    height: 45px;
    border: 2px solid lightgray;
    border-radius: 3px;
    padding-left: 10px;
    background-color: rgb(247, 247, 247);
    color: gray;
  }

  .greenLight {
    border: 2px solid rgb(33, 189, 59);
    background-color: rgb(180, 241, 188);
  }
}
